.list-tasks {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    transform: translateX(-30px);
    width: 50%;
}

.list-tasks div {
    margin: 10px;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 18px;
}

.number-in-list {
    font-weight: bold;
    font-size: 1.75em;
    margin: 0;
    padding: 0;
}